body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    display:flex;
    margin:center;
    color: green;
}
.position{
    color:green;
}

.home-page{
    background-color:green;
}